.latest {
    width: min(1400px, 100%);
    margin: 15px auto;
    padding: 10px;
    border: 2.5px solid #dededea1;
    background-color: #ffffff;
    display: flex;
    gap: 20px;
    border-radius: 5px;
    text-decoration: none;
}

.latest:hover {
    border: 2.5px solid #8c8888;
    background-color: var(--whiltte);
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
}

.more {
    width: 100%;
    display: block;
    margin: 30px auto;
    padding: 10px 40px;
    border: 2px solid rgba(217, 217, 217, 0.908);
    border-radius: 5px;
    background-color: rgba(217, 217, 217, 0.908);
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease;
}

.more:hover {
    background-color: #000;
    color: white;
}