.breadcrumb {
    position: absolute;
    top: 8vh;
    left: 0;
    padding: 8px 10vh;
    z-index: 100;

    a {
        text-decoration: none;
        color: #999999;

        &:hover {
            color: #000;
        }
    }
}